.home-card{
    margin-right: 35px;
    margin-bottom: 35px;
}
.card-right-icons{
    float: right;
}
.card-icons{
    color:rgb(244 67 54);
}
.mat-card-content{
    height: 40px !important;
    overflow: hidden !important;
}
.mat-card-header-text{
    height: 50px !important;
}
.history-icon {
    float: left !important;
}
.history-time {
    margin: 0px !important;
}
.mat-card-header {
    padding-top: 10px !important;
}
.mat-card-actions {
    text-align: left !important;
}