<div style="padding: 10px">
<div class="image-holder">
    <img class="image" src="https://picsum.photos/200/300?random">
   <div class="image-shade">

     <mat-card-header>
       <img mat-card-avatar class="logo" src="https://static.milibris.com/article_resource/sources/0e942609-b661-43f3-96d0-507e903fe0df/2020-01-16/0ce32aa6-ed01-41a1-8322-acdc1e7db88a.png?profile=small">
       <mat-card-title class="publisher-name">Shiba Inu</mat-card-title>
     </mat-card-header>
     <p class="article-text">Lorem ipsum is placeholder text commonly used in the graphic.</p>
     <mat-icon>history</mat-icon> <span>4 min</span>
     <div style="float: right;">
       
     <mat-icon>save_alt</mat-icon>
     <mat-icon>bookmark_border</mat-icon>
   </div>
   </div>
   </div>
</div>