.channel-logo{
    height: 200px;
    width: 200px;
    margin-top: -30px;
    float: left;
    margin-right: 10px;
}
.channel-holder{
    margin-left: 20px;
    margin-top: -20px;
}   
.cover-photo{
    border: 1px solid black;
    height: 150px;
    background: rgb(244 67 54);;
}
.channel-nickname{
    font-size: 20px;
    color: rgb(123 147 158);
    margin-bottom: 3px;
}
.channel-fullname{
    font-size: 22px
}
.channel-articles{
    margin: 50px -90px 0px 70px;
}
.m-r10{
    margin-right: 10px;
}
.circle-icons{
    background-color: #106CC8;
    border-radius: 50px;
    color: #ffffff;
    font-size: 20px;
    padding: 8px;
}
.subsrcibe-icon{
width: 100px;
padding: 15px;
text-align: center;
background-color: #F44336;
border-radius: 50px;
position: relative;
top: -2px;
color: #ffffff;
}
.f-s20{
    top: 3px;
    position: relative;
}