<ul navAccordion class="matero-sidemenu level-0">
  <li navAccordionItem class="matero-sidemenu-item">
    <a class="matero-sidemenu-link" 
       matRipple >
      <span class="menu-name">Article</span>
    </a>
    <a class="matero-sidemenu-link" 
    matRipple>
   <span class="menu-name">Videos</span>
 </a>
      <a class="matero-sidemenu-link"
      matRipple>
      <span class="menu-name">Gallery</span>
      </a>

      <a class="matero-sidemenu-link" 
      matRipple >
      <span class="menu-name">For me</span>
      </a>
  <div style="margin-left: 5px; margin-top: 20px;">
      <mat-card-header>
        <img mat-card-avatar src="https://static.milibris.com/article_resource/sources/0e942609-b661-43f3-96d0-507e903fe0df/2020-01-16/0ce32aa6-ed01-41a1-8322-acdc1e7db88a.png?profile=small"
             aria-label="Shiba Inu avatar">
        <mat-card-title>Politics</mat-card-title>
        <mat-card-subtitle>Chanel</mat-card-subtitle>
      </mat-card-header>
    
      <mat-card-header>
        <img mat-card-avatar src="https://static.milibris.com/article_resource/sources/0e942609-b661-43f3-96d0-507e903fe0df/2020-01-16/0ce32aa6-ed01-41a1-8322-acdc1e7db88a.png?profile=small"
             aria-label="Shiba Inu avatar">
        <mat-card-title>Business</mat-card-title>
        <mat-card-subtitle>Chanel</mat-card-subtitle>
      </mat-card-header>
      
      <mat-card-header>
        <img mat-card-avatar src="https://static.milibris.com/article_resource/sources/0e942609-b661-43f3-96d0-507e903fe0df/2020-01-16/0ce32aa6-ed01-41a1-8322-acdc1e7db88a.png?profile=small"
             aria-label="Shiba Inu avatar">
        <mat-card-title>Think Thank</mat-card-title>
        <mat-card-subtitle>Chanel</mat-card-subtitle>
      </mat-card-header>

      <mat-card-header>
        <img mat-card-avatar src="https://static.milibris.com/article_resource/sources/0e942609-b661-43f3-96d0-507e903fe0df/2020-01-16/0ce32aa6-ed01-41a1-8322-acdc1e7db88a.png?profile=small"
             aria-label="Shiba Inu avatar">
        <mat-card-title>Think Thank</mat-card-title>
        <mat-card-subtitle>Chanel</mat-card-subtitle>
      </mat-card-header>
    </div>



    
  </li>

  <div style="text-align: center; height: 165px;">
    <p class="download-text">Download app on your device</p>
    <span class="download-type">Android</span> 
    <span class="download-type">IOS App</span> 
    <p class="download-link">FirstLink,FirstLink,FirstLink,FirstLink,FirstLink,</p>
    <p class="download-info-text">Copyright information</p>
    <p class="download-info-text">Stay conected with us</p>
  </div>
</ul>
